#left {
    float: left;
    padding-top: 50px;
    padding-left: 50px;
}

#right {
    float: right;
    padding-top: 50px;
    padding-right: 50px;
}

#map-canvas {
    width: 1000px;
    height: 700px;
}

.scroll {
    width: 300px;
    height: 300px;
    overflow: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
}

.labels {
    color: red;
    background-color: transparent;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    width: 100px;
    border: 0;
}